<a href="https://colab.research.google.com/github/Alfasmoideen/Datascience/blob/main/PROGRAM_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
data = {'Name':['Tom', 'nick', 'krish', 'jack'],'Age':[20, 21, 19, 18]}
df = pd.DataFrame(data)
print(df)
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
'Age':[27, 24, 22, 32],
'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)
print(df[['Name', 'Qualification']])

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18
     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [4]:
data = pd.read_csv("/content/empl.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NO             5 non-null      int64
 1   EMPLOYEE_ID    5 non-null      int64
 2   NAME           5 non-null      object
 3   EMAIL          5 non-null      object
 4   PHONE_NUMBER   5 non-null      object
 5   HIRE_DATE      5 non-null      object
 6   DESIGNATION    5 non-null      object
 7   SALARY         5 non-null      int64
 8   MANAGER_ID     5 non-null      int64
 9   DEPARTMENT_ID  5 non-null      int64
dtypes: int64(5), object(5)
memory usage: 532.0+ bytes

In [5]:
data.head()

,NO,EMPLOYEE_ID,NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,DESIGNATION,SALARY,MANAGER_ID,DEPARTMENT_ID
0,0,198,Donald,DOCONNEL,650.507.9833,21-Jun-07,SH_CLERK,12600,124,50
1,1,200,onald,DOCONNE,650.507.9834,21-Jun-08,SH_CLERK,12600,124,50
2,2,201,nald,do,650.507.9835,21-Jun-09,AD_ASST,12600,101,10
3,3,197,ald,doco,650.507.9836,21-Jun-10,MK_MAN,12600,100,20
4,4,202,ld,doconn,650.507.9837,21-Jun-11,MK_REP,12600,201,20

In [6]:
first = data.head()
print(first)

   NO  EMPLOYEE_ID    NAME     EMAIL  PHONE_NUMBER   HIRE_DATE DESIGNATION  \
0   0          198  Donald  DOCONNEL  650.507.9833   21-Jun-07   SH_CLERK
1   1          200   onald   DOCONNE  650.507.9834   21-Jun-08   SH_CLERK
2   2          201    nald        do  650.507.9835   21-Jun-09     AD_ASST
3   3          197     ald      doco  650.507.9836   21-Jun-10      MK_MAN
4   4          202      ld    doconn  650.507.9837   21-Jun-11      MK_REP

   SALARY  MANAGER_ID  DEPARTMENT_ID
0   12600         124             50
1   12600         124             50
2   12600         101             10
3   12600         100             20
4   12600         201             20